h1 {
    color: #f13b00;
}

.tecbtn {
    background-color: #f13b00;
    color: white;
    cursor: pointer;
}

.tecbtn:hover {
    border-style: solid;
    border-color: white;
}

a {
    color: #003443;
}