.linkedinwrapper {
    height: 100%;
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-flow: column;
}

.toprow {
    display: grid;
    grid-template-columns: 15% 85%;
}

.linkedinpicture {
    max-height: 100%;
    max-width: 100%;
    grid-row: 1;
    grid-column: 1;
}

.title {
    grid-row: 1;
    grid-column: 2;
    padding-top: 5px;
    font-size: 22px;
    color: #003443;
    text-align: justify;
    padding-right: 15px;
}

.postimagediv {
    flex: 0.99;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid;
    border-color: white;
}

.postimage {
    grid-row: 2;
    grid-column: 1 / 3;
}

@media screen and (max-width: 1530px) {
  .linkedinpicture {
    padding-top: 8px;
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .linkedinpicture {
    padding-top: 8px;
  }

  .title {
    font-size: 17px;
  }
}

@media screen and (max-width: 991px) {
  .linkedinpicture {
    padding-top: 0px;
  }

  .title {
    font-size: 15px;
  }
}