<div class="linkedinwrapper" *ngIf="!linkedinError">
    <div class="toprow">
        <img class="linkedinpicture" src="../../assets/linkedin_logo.png" alt="">
        <div class="title" [@newLinkedinItem]="state" (@newLinkedinItem.done)="setNewItem()">
            <b><span [innerHTML]="this.postNow | linky:{ className: 'myLink' }"></span></b>
        </div>
    </div>
        <!-- <button (click)="subscribeToLogin()" class="btn btn-primary" [hidden]='!showlogin'>login</button>
        <button (click)="subscribeToLogout()" class="btn btn-primary" [hidden]='!showlogin'>logout</button> -->
    <div class="postimagediv" [style.background-image]="'url(' + imageNow + ')'" [@newLinkedinItem]="state"></div>
    <img class="postimage" id="postimage" src="{{this.imageNowPreload}}" (load)="imageNow = imageNowPreload; imageLoaded($event);" alt="" hidden>
</div>
<div class="errorimage" *ngIf="linkedinError">
