<div class="container-fluid">
    <div class="left-col">
        <div class="brand">
            <a href="#">
              <img alt="TEC ICT" src="https://www.tecict.be/images/tecICT-logo-RGB.png" height="25px">
            </a>
        </div>
    </div>
    <div class="right-col">
        <span class="time"><b>
            <span class="blue">
                {{time | date:'dd/MM/yyyy' }}
            </span>
            <span class="blue">
                {{ time | date:'HH:mm:ss' }}
            </span>
        </b></span>
    </div>
    
    
</div>

    
