.navbarwrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.brand {
    grid-column: 1;
    text-align: left;
    align-self: center;
    padding-left: 30px;
}

.time {
    grid-column: 2;
    text-align: right;
    align-self: center;
    font-size: 25px;
    padding-right: 30px;
    color: #003443;
}

@media screen and (max-width: 750px) {
    .navbarwrapper {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .brand {
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        padding: 0px;
    }

    .time {
        grid-row: 2;
        grid-column: 1;
        text-align: center;
        padding: 0px;
    }
}