.frame {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

video {
    /* autoprefixer: off */
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

video_poster {
    height: 100%;
    width: 100%;
}

[class*="col-"]{
    height: 100%;
}

img {
    /* autoprefixer: off */
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: auto;
    align-self: center;
    justify-self: center;
}