<div class="container-fluid">
  <div class="row row1">
    <div class="col-9 widget slideshow">
      <slideshow></slideshow>
    </div>
    <div class="col-3">
      <div class="row row3">
        <div class="col-12 widget facebook">
          <facebook-posts></facebook-posts>
        </div>
        <div class="col-12 widget twitter">
          <linkedin-posts></linkedin-posts>
        </div>
      </div>
    </div>
  </div>
  <div class="row row2">      
    <div class="col-6 widget agenda">
      <slideshow></slideshow>
    </div>
    <div class="col-6 widget news">
      <slideshow></slideshow>
    </div>
  </div>
  
</div>

