.container-fluid{
    height: 100%
}

.row1 {
    height: 70%;
    padding: 0;
}

.row2 {
    height: 30%
}

.row3 {
    height: 100%;
}

.widget {
    border-style: solid;
    text-align: center;
    padding: 0;
}
