<div class="container">
    <br>
    <h3>Voeg nieuwe lijst toe</h3>
    <br>
    <form [formGroup]="listForm" (ngSubmit)="addList()" >
        <mat-form-field class="full-width">
            <input matInput
            placeholder="List name"
            formControlName="listName"
            [(ngModel)]="list.listName"
            type="text"/>
        </mat-form-field>
        <div class="text-danger" *ngIf="!listForm.controls['listName'].valid && listForm.controls['listName'].touched ">
            There needs to be a name for this list
        </div>
        <br>
        <br>
        <div *ngFor="let label of list.labels; let i = index">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <mat-form-field class="full-width">
                        <input matInput
                        placeholder="key"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="label.key"
                        type="text"/>
                    </mat-form-field>
                </div>
                <div class="col-sm-5 col-xs-11">
                    <mat-form-field class="full-width">
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="label.type" placeholder="type">
                            <mat-option value="text">text</mat-option>
                            <mat-option value="number">number</mat-option>
                            <mat-option value="checkbox">checkbox</mat-option>
                            <mat-option value="Date">Date</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-1 col-xs-12">
                    <button type="button" class="btn tecbtn" (click)="deleteLabel(i)"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <button type="button" class="btn tecbtn-reverse" (click)="addLabel()"><i class="fa fa-plus"></i></button>
            <button *ngIf="!editting" class="btn" type="submit">Create</button>
            <button *ngIf="editting" class="btn" type="submit">Save</button>
            <button class="btn tecbtn" [routerLink]="['/listsettings']">Cancel</button>
        </div>
    </form>
    <br>
    <br>
</div>
