<div class="container-fluid">
    <div *ngFor="let list of allLists">
        <h3>{{ list.listName }}</h3>
        <button type="button" class="btn tecbtn-reverse" (click)="deleteList(list.listName)">Remove list</button>
        <br>
        <br>
        <table>
            <thead>
            <tr>
                <th *ngFor="let label of list.labels" (click)="setCritical(list, label)" [style.background-color]="getBackgroundColor(label)">{{label.key}}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items">
                    <td *ngFor="let label of list.labels">
                        <div *ngIf="label.type == 'checkbox'">
                            <i class="fa fa-check" *ngIf="item[label.key]"></i>
                            <i class="fa fa-times" *ngIf="!item[label.key]"></i>
                        </div>
                        <div *ngIf="label.type !== 'checkbox'">
                            {{item[label.key]}}
                        </div>
                    </td>
                    <td> <button type="button" class="btn tecbtn" (click)="deleteItem(item, list.listName)">X</button> </td>
                </tr>
                <tr>
                    <td *ngFor="let label of list.labels">
                        <input
                        *ngIf="label.type != 'checkbox'"
                        placeholder="{{label.key}}"
                        class="form-control form-control-lg"
                        [(ngModel)]="newItems[list.listName][label.key]"
                        type="{{label.type}}"/>
                        <mat-checkbox
                        *ngIf="label.type == 'checkbox'"
                        [(ngModel)]="newItems[list.listName][label.key]"
                        checked=false
                        ></mat-checkbox>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="save(list.listName)">save</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
