h1 {
    color: #F13B00;
    padding-left: 15px;
}

tr {
  border-top: 2px solid #DDDDDD;
  border-bottom: 2px solid #DDDDDD;
}

table {
  width: 98%;
  margin-left: 10px;
}

th {
    height: 50px;
}

td {
  height: 40px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
