<div *ngFor="let list of allLists">
    <h3>{{ list.listName }}</h3>
    <button type="button" class="btn" (click)="delete(list.listName)">Remove list</button>
    <table class="table" >
        <thead>
        <tr>
            <th *ngFor="let label of list.labels">{{label.key}} ({{label.type}})</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list.items">
                <td *ngFor="let label of list.labels">{{item[label.key]}}</td>
                <td> <button type="button" class="btn tecbtn" (click)="deleteItem(item, list.listName)">X</button> </td>
            </tr>
            <tr>
                <td *ngFor="let label of list.labels">
                    <input
                    *ngIf="label.type != 'checkbox'"
                    placeholder="{{label.key}}"
                    class="form-control form-control-lg"
                    [(ngModel)]="newItems[list.listName][label.key]"
                    type="{{label.type}}"/>
                    <input
                    *ngIf="label.type == 'checkbox'"
                    placeholder="{{label.key}}"
                    class="form-control form-control-lg"
                    [(ngModel)]="newItems[list.listName][label.key]"
                    checked=false
                    type="checkbox"/>
                </td>
                <td>
                    <button type="button" class="btn" (click)="save(list.listName)">save</button>
                </td>
            </tr>
            <!-- <tr *ngFor="let user of lists.acute">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.function }}</td>
                <td>{{ user.availability }}</td>
                <td>{{ !user.payroll }}</td>
                <td>{{ user.accountManager }}</td>
                <td> <button type="button" class="btn tecbtn" (click)="delete('acute', user)">X</button> </td>
            </tr> -->
        </tbody>
    </table>
</div>
