h1 {
    color: #FFFFFF;
    padding-left: 10px;
}

table {
  width: 100%;
  color: #FFFFFF;
  overflow: hidden;
  padding-left: 10px;
  /*background-color: #003443;*/
}

td {
  font-size: 45px;
  font-weight: 600;
}

th {
  color: #003443;
  font-style: italic;
}

/*.row {
  height: 100%;
}*/

.list-highlighter {
  height: 100%;
  width: 100%;
  background-color: #F14B00;
}

.dark {
  background-color: #003443;
}

.dark th {
  color: #F14B00;
}

.row {
  width: 100%;
}

@media screen and (max-width: 1050px){
  h1 {
    font-size: 40px;
  }

  td {
    font-size: 35px;
    font-weight: normal;
  }
}

@media screen and (max-width: 700px){
  h1 {
    font-size: 25px;
  }

  td {
    font-size: 20px;
    font-weight: normal;
  }
}