<div class="list" [@newList]="state" (@newList.done)="setList()" *ngIf="!noData">
  <div>
    <h1>{{lists[currentItem].listName}}</h1>
    <table>
      <thead>
        <tr>
          <th *ngIf="criticalLabel != ''">label</th>
          <th scope="col" *ngFor="let label of lists[currentItem].labels">
            {{label.key}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lists[currentItem].items" [style.border-bottom-color]="getBackgroundcolor(item)">
          <td *ngIf="criticalLabel != ''" class="label"><span class="dot" [style.background-color]="getBackgroundcolor(item)"></span></td>
          <td *ngFor="let label of lists[currentItem].labels">
            <i *ngIf="item[label.key] == true" class="fa fa-check"></i>
            <i *ngIf="item[label.key] == false" class="fa fa-times"></i>
            <span *ngIf="item[label.key] != true && item[label.key] != false && label.type == 'Date'">{{item[label.key] | date: 'dd/MM/yyyy'}}</span>
            <span *ngIf="item[label.key] != true && item[label.key] != false && label.type != 'Date'">{{item[label.key]}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
