.news {
    background: white;
    height: 100%;
    display: flex;
    flex-flow: column;
}

h5 {
    color: #F13B00;
    padding-right: 25px;
    text-align: justify;
    font-size: 25px;
}

.description {
    padding: 0 25px;
    text-align: justify;
    font-size: 20px;
}

.titlerow {
    height: 30%;
}

.descriptionrow {
    height: 70%;
}

img {
    height: 100%;
}

.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

[class*="col-"]{
    height: 100%;
}

@media screen and (max-width: 1400px) {
  h5 {
    font-size: 20px;  
  }

  .description {
    font-size: 17px;
  }
}

@media screen and (max-width: 960px) {
  h5 {
    font-size: 17px;  
  }

  .description {
    font-size: 14px;
  }
}