.news {
    background: white;
    height: 100%;
    display: flex;
    flex-flow: column;
}

h5 {
    color: #F13B00;
    padding-right: 25px;
    text-align: justify;
    font-size: 25px;
}

.description {
    padding: 0 25px;
    text-align: justify;
    font-size: 20px;
}

.flexrow {
    flex: 0.98;
}

img {
    height: 100%;
}

.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}