

<div class="headwrapper" >
  <navbar></navbar>
  <div *ngFor="let error of errors">
    <p>{{ error }} component is not ready yet...</p>
  </div>
  <img src="assets/loading.gif" alt="" class="loading" [@allDone]="stateLoading">
  <div class="wrapper" >
    <slideshow (slideshowLoaded)="finishSlideshow($event)" [@allDone]="slideshowState"></slideshow>
    <weather (weatherLoaded)="finishWeather($event)" [@allDone]="weatherState"></weather>
    <news (newsLoaded)="finishNews($event)" [@allDone]="newsState"></news>
    <list *ngIf="refresh" routerLink="/listsettings" ></list>
    <maps (mapsLoaded)="finishMaps($event)" [@allDone]="mapsState"></maps>
  </div>
</div>

