.headwrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 7vh 93vh;
    grid-template-columns: 1fr;
}

.wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-rows: 9vh 9vh 9vh 9vh 9vh 9vh 9vh 9vh 11vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vh;
    margin: 1vh;
}

navbar {
    z-index: 4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

slideshow {
     /* autoprefixer: off */
    grid-column: 1 / 9;
    grid-row: 1 / 9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
}

weather {
     /* autoprefixer: off */
    grid-column: 9 / 12;
    grid-row: 1 / 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

news {
     /* autoprefixer: off */
    grid-column: 1 / 12;
    grid-row: 9 / 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 0;
}

linkedin-posts {
     /* autoprefixer: off */
    grid-column: 9 / 12;
    grid-row: 1 / 6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

maps {
     /* autoprefixer: off */
    grid-column: 9 / 12;
    grid-row: 2 / 9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.loading {
    width: 20%;
    position: absolute;
    top: 30%;
    left: 40%;
}

@media screen and (max-width: 1050px) {
    .wrapper {
        grid-template-rows: 56vw 20vw 20vw 56vw 56vw;
        grid-template-columns: 100%;
    }

    .headwrapper {
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
    }

    slideshow {
        grid-column: 1;
        /* autoprefixer: off */
        grid-row: 1;
        z-index: 3;
    }

    weather {
        grid-column: 1;
        /* autoprefixer: off */
        grid-row: 2;
        z-index: 2;
    }

    news {
        grid-column: 1;
        /* autoprefixer: off */
        grid-row: 3;
        z-index: 1;
    }

    linkedin-posts {
        grid-column: 1;
        /* autoprefixer: off */
        grid-row: 5;
        z-index: 0;
    }

    maps {
        grid-column: 1;
        /* autoprefixer: off */
        grid-row: 4;
        z-index: -1;
    }
}

@media screen and (max-width: 750px) {
    .headwrapper {
        grid-template-rows: 80px 1fr;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        grid-template-rows: 56vw 35vw 35vw 90vw 70vw;
        grid-template-columns: 100%;
    }
}

@media screen and (max-height: 700px) and (min-width: 1050px){
    .headwrapper {
        grid-template-rows: 50px 1fr;
    }

    .wrapper {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}