<navbar class='navbar'></navbar>

<!-- Content -->
<div class="container-fluid">

  <!-- Volledige hoogte container opsplitsen -->
  <div class="row toprow">

    <!-- Linker kolom invoegen  -->
    <div class="col-8"> 

      <!-- Window voor slideshow -->
      <div class="row row70 widget">
        <slideshow></slideshow>
      </div>

      <!-- Rij voor Weer en agenda -->
      <div class="row row30">
      <!-- Weer widget -->
        <div class="col-3 widget weer">
          <weather></weather>
        </div> 
        <!-- Kalender widget -->
        <div class="col-9 widget agenda">
          <news></news>
        </div>
      </div>
    </div>
    <!-- Kolom voor Linkedin Verkeer -->
    <div class="col-4">
      <!-- Linkedin wiget -->
      <div class="row row60"> 
        <div class="col-12 widget linkedin">
          <linkedin-posts></linkedin-posts>
        </div>
      </div>
      <!-- Verkeer widget -->
      <div class="row row40"> 
        <div class="col-12 widget Verkeer">
          <maps></maps>
        </div>
      </div>
    </div>
  </div>
</div>
