<div class="container">
    <div class="row">
        <h1><a routerLink="/">settings</a></h1>
    </div>
    <div *showAuthed="true" class="row">
        <div *ngIf="!hasPermission" class="col-md-12">
            <span>It seems like you don't have the right permissions to change the dashboard settings. Please contact your supervisor to get the correct access rights or go back to the <a routerLink="/">home page</a>.</span>
        </div>
        <br>
        <slideshow-settings *ngIf="hasPermission"></slideshow-settings>
        <permissions></permissions>
    </div>
    <div *showAuthed="true" class="row">
        <location-settings *ngIf="hasPermission"></location-settings>
        <user-settings></user-settings>
    </div>
    <div *showAuthed="false" class="row">
        <div class="col-md-12">
            <h3>You can not change the settings when you are not logged in... Please click <a routerLink="/login">here</a> to login or go back to the <a routerLink="/">home page</a></h3>
        </div>
        
    </div>
</div>


