<div class="container">
    <div class="row">
        <h1><a routerLink="/">settings</a></h1>
    </div>
    <div *showAuthed="true" class="row">
        <div *ngIf="!hasPermission" class="col-md-12">
            <span>It seems like you don't have the right permissions to change the dashboard settings. Please contact your supervisor to get the correct access rights or go back to the <a routerLink="/">home page</a>.</span>
        </div>
        <br>
        <div *ngIf="hasPermission" class="col-md-12">
            <h3>Slideshow settings</h3>
        </div>
        <div *ngIf="hasPermission" class="col-md-4">
            <form>
                <div class="form-group">
                    <br>
                    <input type="file" id="file" class="form-control inputfile" name="single" accept="video/mp4" ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)"/>
                    <label class="btn" for="file">{{ labelVal }}</label>
                </div>            
            </form>
        </div>
        <div *ngIf="hasPermission" class="col-lg-8 col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                    <td>
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn tecbtn btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn tecbtn-reverse btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *showAuthed="true" class="row">
        <div *ngIf="hasPermission" class="col-md-12 col-lg-6">
            <h3>Location settings</h3>
            <br>
            <form>
                <div class="form-group">
                    <label for="location_weather">Location for weather widget</label>
                    <input type="text" class="form-control" id="location_weather" aria-describedby="location_weather_help" [(ngModel)]="settings.location_weather" name="location_weather" (ngModelChange)="enableSave()">
                    <small id="location_weather_help" class="form-text text-muted">Give in the location from which you want to display the weather</small>
                </div>
                <div class="form-group">
                    <label for="location_maps">Location for maps widget</label>
                    <input type="text" class="form-control" id="location_maps" aria-describedby="location_maps_help" [(ngModel)]="settings.location_maps" name="location_maps" (ngModelChange)="enableSave()">
                    <small id="location_maps_help" class="form-text text-muted">Give in the location which will be used as the center in the google maps widget</small>
                </div>
                <button type="submit" class="btn tecbtn" (click)="submitForm()" [disabled]="noChanges">Save</button>
            </form>
            <br>
        </div>
        <div class="col-md-12 col-lg-6">
            <h3>User settings</h3>
            <br>
            <form [formGroup]="userSettingsForm" (ngSubmit)="submitUserForm()">
              <fieldset [disabled]="isSubmitting">
                <fieldset class="form-group">
                  <label for="username">Username</label>
                  <input class="form-control"
                    id="username"
                    type="text"
                    placeholder="Username"
                    formControlName="username" />
                  <small id="username_help" class="form-text text-muted">This username must be unique.</small>
                </fieldset>

                <fieldset class="form-group">
                  <label for="firstname">First name</label>
                  <input class="form-control"
                    id="firstname"
                    type="text"
                    placeholder="First name"
                    formControlName="firstname" />
                </fieldset>

                <fieldset class="form-group">
                  <label for="lastname">Last name</label>
                  <input class="form-control"
                    id="lastname"
                    type="text"
                    placeholder="Last name"
                    formControlName="lastname" />
                </fieldset>

                <fieldset class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control"
                    id="email"
                    type="email"
                    placeholder="Email"
                    formControlName="email" />
                </fieldset>

                <fieldset class="form-group">
                  <label for="new_password">New Password</label>
                  <input class="form-control"
                    id="new_password"
                    type="password"
                    placeholder="New Password"
                    formControlName="password" />
                  <small id="new_password_help" class="form-text text-muted">Give in a new password or leave it open to keep the existing password</small>
                </fieldset>

                <button class="btn tecbtn"
                  type="submit">
                  Update Settings
                </button>

              </fieldset>
            </form>
            <br>
            <button class="btn tecbtnblue"
                (click)="logout()">
                Logout
            </button>
            <br>
        </div>
    </div>
    <div *showAuthed="false" class="row">
        <div class="col-md-12">
            <h3>You can not change the settings when you are not logged in... Please click <a routerLink="/login">here</a> to login or go back to the <a routerLink="/">home page</a></h3>
        </div>
        
    </div>
</div>


