a {
    color: #f13b00;
}

h3 {
    color: #003443;
}

a:hover {
    text-decoration: none;
}

slideshow-settings {
    width: 100%;
}

location-settings {
    width: 50%;
}

user-settings {
    width: 50%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 200;
    color: white;
    background-color: #003443;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #f13b00;
}

.tecbtnblue {
    background-color: #003443;
    color: white;
    cursor: pointer;
}

.tecbtnblue:hover {
    border-style: solid;
    border-color: white;
}

.tecbtn {
    background-color: #f13b00;
    color: white;
    cursor: pointer;
}

.tecbtn[disabled] {
    cursor: auto;
}

.tecbtn:hover:not([disabled]) {
    border-style: solid;
    border-color: white;
}

.tecbtn-reverse {
    color: #003443;
    cursor: pointer;
}

.tecbtn-reverse:hover:not([disabled]) {
    border-style: solid;
    border-color: white;
}
